env/

# Ignore compiled executables
canny
runTests
visual_pipeline
qemu_eq_test
canny_O0
canny_O2
canny_O3
canny_Ofast
canny_Os
canny_vec_report
# Ignore all object files
*.o

# Ignore ALL raw image binaries (input.raw, output.raw, etc.)
*.raw
Reference_Images/
Output_Images/*.raw
visual_pipeline
Input_Images/*.raw
